<p>description works!</p>
<h1>David Cerezo Hernández</h1>
<h2>Full Stack Developer</h2>
<p>Soy un profesional en transición al sector
    de desarrollo web, con una sólida
    experiencia laboral en otros campos que
    ha fortalecido mi capacidad para
    adaptarme a diferentes entornos y
    desafíos. Mi fuerte compromiso con el
    aprendizaje y el crecimiento en
    tecnologías frontend y backend me
    impulsa a enfrentar nuevos desafíos en el
    desarrollo de aplicaciones web dinámicas
    y escalables. Destaco por mi
    perseverancia y dedicación para superar
    obstáculos y alcanzar metas. Esta
    experiencia previa me ha enseñado a
    adaptarme rápidamente a cambios y
    entornos nuevos, lo cual me permite
    abordar proyectos con flexibilidad y
    eficacia</p>
