:host{
    background-color: aquamarine;
    align-items: center;
    text-align: center;
}
.header-parent{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

app-frame-photo{
    grid-area: 1 / 1 / 6 / 3;
    color: white;
    margin: 10px;
    background-color: bisque;
}

app-description{
    grid-area: 1 / 3 / 6 / 6;
    
    margin: 10px;
    background-color: beige;
}