:host{
    align-items: center;
    text-align: center;
    margin: 1em;
    box-shadow: 1, 1, 1, 1, black, 1em;
    border-radius: 2em;
    margin: auto;
}
.header-parent{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 1em;
    margin: 1em;
    padding: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
}

app-frame-photo{
    grid-area: 1 / 1 / 6 / 3;
    color: white;
    margin: auto;
    padding: auto;
}

app-description{
    grid-area: 1 / 3 / 6 / 6;
    padding: auto;
    margin: auto;
    
    align-items: center;
    justify-content: center;
}