<div class="landing-page">
  <div class="welcome-message">
    <h1>¡Bienvenido a Mi CV!</h1>
    <p>
      Después de 17 años de experiencia en diversos roles profesionales, me
      encontré en una encrucijada a los 35 años cuando la empresa en la que
      trabajaba cerró. En ese momento, decidí dar un giro significativo en mi
      carrera y me sumergí en el mundo de la programación. Lo que comenzó como
      una necesidad se transformó en una pasión que me ha motivado a seguir
      aprendiendo y creciendo continuamente. Aunque mi experiencia en
      programación es relativamente nueva, mi dedicación y deseo de mejorar
      constantemente son inquebrantables. Cada día es una oportunidad para
      aprender algo nuevo y afianzar los conocimientos adquiridos. Mi
      experiencia previa en el ámbito laboral ha cultivado habilidades valiosas
      como la resolución de problemas, la adaptabilidad y el trabajo en equipo,
      las cuales aplico con entusiasmo en el desarrollo de soluciones de
      software. Estoy comprometido en seguir desarrollándome como programador y
      aportar valor en cada proyecto en el que participe. Mi objetivo es
      continuar explorando nuevas tecnologías, enfrentando retos y contribuyendo
      a proyectos innovadores.
    </p>
    <button (click)="viewCV()">Ver Mi CV</button>
  </div>
</div>
