:host{
    
  text-align: center;
  
  border-radius: 3em;
  margin: 1em;
}

/* General styles for parent container */
.parent-aside {
  display: grid;
  grid-template-columns: 1fr; /* Si quieres que los componentes estén en una sola columna */
  grid-row-gap: 3em; /* Espacio entre filas */
  padding: 1em;
}

/* Styles for individual components */
.parent-aside > * {
  padding: 1em; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); 
  border-radius: 1em; 
  background-color: white; 
}
