:host{
    background-color: aqua;
    text-align: center;
}

.parent-aside {
    display: flex;
    flex-direction: column; /* Si deseas que los elementos se apilen verticalmente */
    gap: 40px; /* Ajusta el valor según sea necesario */
}
