<section class="container">
    <p class="title">Habilidades técnicas</p>
    
    <article class="language">
        <p class="subtitle-skills">Lenguajes de programación</p>
        <div class="child">
            @for(languaje of languages; track languaje._id) {
                <div class="skill">
                    <p>{{languaje.name | uppercase }}</p>
                    <img src="https://skillicons.dev/icons?i={{languaje.name}}" alt="{{languaje.name}}">
                    @if( languaje.level){
                        <div class="level-container">
                            <p class="level-text">
                                {{ languaje.level > 4 ? 'Avanzado' : (languaje.level >= 3 ? 'Intermedio' : 'Principiante') }}
                            </p>
                            <div class="level-bar">
                                <div class="level level-{{languaje.level}}" style="width: {{languaje.level * 20}}%;"></div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </article>

    <article>
        <p class="subtitle-skills">Frameworks y librerías frontend</p>
        <div class="child">
            @for(framework of frontend; track framework._id) {
                <div class="skill">
                    <p>{{framework.name | uppercase}}</p>
                    <img src="https://skillicons.dev/icons?i={{framework.name}}" alt="{{framework.name}}">
                    @if( framework.level){
                        <div class="level-container">
                            <p class="level-text">
                                {{ framework.level >= 4 ? 'Avanzado' : (framework.level >= 2 ? 'Intermedio' : 'Principiante') }}
                            </p>
                            <div class="level-bar">
                                <div class="level level-{{framework.level}}" style="width: {{framework.level * 20}}%;"></div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </article>

    <article>
        <p class="subtitle-skills">Lenguajes de marcado y estilos</p>
        <div class="child">
            @for(markup of markupLanguages; track markup._id) {
                <div class="skill">
                    <p>{{markup.name | uppercase}}</p>
                    <img src="https://skillicons.dev/icons?i={{markup.name}}" alt="{{markup.name}}">
                    @if( markup.level){
                        <div class="level-container">
                            <p class="level-text">
                                {{ markup.level >= 4 ? 'Avanzado' : (markup.level >= 2 ? 'Intermedio' : 'Principiante') }}
                            </p>
                            <div class="level-bar">
                                <div class="level level-{{markup.level}}" style="width: {{markup.level * 20}}%;"></div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </article>

    

    <article>
        <p class="subtitle-skills">Tecnologías y frameworks backend</p>
        <div class="child">
            @for(frameBack of backend; track frameBack._id) {
                <div class="skill">
                    <p>{{frameBack.name | uppercase}}</p>
                    <img src="https://skillicons.dev/icons?i={{frameBack.name}}" alt="{{frameBack.name}}">
                    @if( frameBack.level){
                        <div class="level-container">
                            <p class="level-text">
                                {{ frameBack.level >= 4 ? 'Avanzado' : (frameBack.level >= 2 ? 'Intermedio' : 'Principiante') }}
                            </p>
                            <div class="level-bar">
                                <div class="level level-{{frameBack.level}}" style="width: {{frameBack.level * 20}}%;"></div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </article>

    <article>
        <p class="subtitle-skills">Base de datos</p>
        <div class="child">
            @for(database of databases; track database._id) {
                <div class="skill">
                    <p>{{database.name | uppercase}}</p>
                    <img src="https://skillicons.dev/icons?i={{database.name}}" alt="{{database.name}}">
                    @if( database.level){
                        <div class="level-container">
                            <p class="level-text">
                                {{ database.level >= 4 ? 'Avanzado' : (database.level >= 2 ? 'Intermedio' : 'Principiante') }}
                            </p>
                            <div class="level-bar">
                                <div class="level level-{{database.level}}" style="width: {{database.level * 20}}%;"></div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </article>

    <article>
        <p class="subtitle-skills">Control de versiones</p>
        <div class="child">
            @for(version of versionControl; track version._id) {
                <div class="skill">
                    <p>{{version.name | uppercase}}</p>
                    <img src="https://skillicons.dev/icons?i={{version.name}}" alt="{{version.name}}">
                    @if( version.level){
                        <div class="level-container">
                            <p class="level-text">
                                {{ version.level >= 4 ? 'Avanzado' : (version.level >= 2 ? 'Intermedio' : 'Principiante') }}
                            </p>
                            <div class="level-bar">
                                <div class="level level-{{version.level}}" style="width: {{version.level * 20}}%;"></div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </article>

    <article>
        <p class="subtitle-skills">Herramientas de desarrollo</p>
        <div class="child">
            @for(tool of tools; track tool._id) {
                <div class="skill">
                    <p>{{tool.name | uppercase}}</p>
                    <img src="https://skillicons.dev/icons?i={{tool.name}}" alt="{{tool.name}}">
                    @if( tool.level){
                        <div class="level-container">
                            <p class="level-text">
                                {{ tool.level >= 4 ? 'Avanzado' : (tool.level >= 2 ? 'Intermedio' : 'Principiante') }}
                            </p>
                            <div class="level-bar">
                                <div class="level level-{{tool.level}}" style="width: {{tool.level * 20}}%;"></div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </article>
</section>
