.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

article div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}